{
  "RadikoDownloadFunction": {
    "BUCKET_NAME": "your-bucket-name",
    "SNS_TOPIC_ARN": "arn:aws:sns:ap-northeast-1:123456789012:your-topic-name"
  },
  "RadiruDownloadFunction": {
    "BUCKET_NAME": "your-bucket-name",
    "SNS_TOPIC_ARN": "arn:aws:sns:ap-northeast-1:123456789012:your-topic-name"
  },
  "ProgramSearchFunction": {
    "SNS_TOPIC_ARN": "arn:aws:sns:ap-northeast-1:123456789012:your-topic-name",
    "RADIKO_DL_FUNC_NAME": "lambdiko-radiko-download",
    "RADIRU_DL_FUNC_NAME": "lambdiko-radiru-download"
  }
}
